# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
PORT=3400
NEXT_PUBLIC_MARKETPLACE_BACKEND_URL='http://localhost:4020'